* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-colour: #343840;
    --background-colour: #E8DFDD;
}

body {
    background: var(--background-colour);
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}

.search-input {
    margin: 3rem 0 1.5rem 0;
}

.container-news {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.single-news {
    margin: 1rem;
    padding: 1.5rem;
    border-radius: 1rem;
    background: var(--primary-colour);
    color: var(--background-colour);
    width: 400px;
}

.single-news > h4, p, i {
    margin: 0.5rem 0;
}

p.author {
    font-style: italic;
}

.message {
    /* width: 100%; */
    margin-top: 3.5rem;
    padding: 1rem;
    border: 1px solid grey;
    color: grey;
}

.message.error {
    border-color: red;
    color: red;
}

.message.warning {
    border-color: orange;
    color: orange;
}

.message.success {
    border-color: green;
    color: green;
}

h4 {
    text-transform: uppercase;
}