* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-colour: #343840;
    --background-colour: #E8DFDD;
}

body {
    background: var(--background-colour);
    font-family: sans-serif;
}

h1 {
    margin: 2rem 0;
}

.fa-solid {
    color: #BF793B;
}

button.btn-secondary {
    margin-top: 2rem;
}